body {
    margin: 0;
  
    font-family: "Open Sans", sans-serif;
  
    background: linear-gradient(90deg, rgb(227, 255, 248, 0) 82.08%, rgb(227, 255, 248, 0.38) 100%);
  
    min-height: 100vh;
  }
  
  .page {
    width: 1008px;
    margin: 0 auto;
    padding-top: 65px;
  }
  
  nav {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: space-between;
  }
  
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 48.04px;
  }
  
  a {
    color: #1f1534;
    text-decoration: none;
  }
  
  ul li a {
      opacity: 0.5;
      font-size: 18px;
  }
  
  ul li a:hover {
    font-weight: bold;
    opacity: 1;
  }
  
  h1,
  ul {
    font-family: "Mulish", sans-serif;
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 55px;
  }

  section {
    width: 490px;
    height: 332px;
    margin-top: 51px;
  }
  
  h1 {
    font-size: 49px;
    line-height: 56px;
    color: #1f1534;
  
    font-weight: normal;
  
    width: 490px;
  }
  
  h1 span {
    color: #89c5cc;
    font-weight: bold;
  }
  
  section p {
    font-size: 14px;
    line-height: 28px;
    color: #7d7987;
    margin: 40px 0;
    width: 380px;
  }
  
  button {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    width: 182px;
    height: 56px;
    background: #69B99D;
    border: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
      background: #4EA788;
  }
  
  footer {
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    margin-top: 82px;
  }
  
  footer a {
    font-weight: bold;
  }
  
  #balls {
      position: fixed;
      bottom: 0;
      right: 0;
  }
  